{{outlet}}
<p>Utilisateurs</p>
<div id='user-list' class='list'>
	<ul>
	{{#each user in model}}
		<li>{{user.id}}</li>
		<li>{{user.nom}}</li>
		<li>{{user.prenom}}</li>
		<li>{{user.telephone}}</li>
	{{/each}}
	</ul>
</div>