{{outlet}}
<p>Utilisateurs</p>
<div id='user-list' class='list'>
	<ul>
	{{#each user in model}}
		<li>
		{{user.id}}
		</li>
			{{user.nom}}
			{{user.prenom}}
			{{user.telephone}}
	{{/each}}
	</ul>
</div>